body {
    font-family: 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.margin-top-container {
    margin-top: 70px;
}

.side-menu-container ul{
    list-style-type: none;
    padding-left: 10px;

}